html{
    background-color: rgb(203, 197, 231);
}
.bttn{
    background-color: rgb(35, 158, 207);
    width: 40%;
    color: aliceblue;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}
.resetbtn{
    background-color: rgb(35, 158, 207);
    width: 40%;
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
}
.from-control{
    
    border-style: outset;
    font-size: 20px;

}
.container{
    border-style: solid;
    border-radius: 10px;
}